SECRET_KEY = "django"
 
DEBUG=True
DATABASE_NAME="your_database_name"
DATABASE_USER="your_database_user"
DATABASE_PASSWORD="your_database_password"
DATABASE_HOST=localhost
DATABASE_PORT=5432
MAPBOX_ACCESS_TOKEN = "your_mapbox_access_token"
TITILER_BASE_URL = "http://localhost:8001"  # your TiTiler instance

COORDINATE_SYSTEM=28992 # or other coordinate system you want to use

GEE_KEY = {"type": "service_account",  "project_id": "your_project_id",  "private_key_id": "your_private_key_id",  "private_key": "-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n", "client_email": "your_client_email", "client_id": "your_client_id","auth_uri": "https://accounts.google.com/o/oauth2/auth",  "token_uri": "https://oauth2.googleapis.com/token",  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",  "client_x509_cert_url": "your_client_x509_cert_url",  "universe_domain": "googleapis.com"
}


SENTINEL_CLIENT_ID = "your_sentinel_client_id"
SENTINEL_CLIENT_SECRET = "your_sentinel_client_secret"

KNMI_API_KEY = "your_knmi_api_key"